@import 'tailwindcss';

:root {
    /* Books – violet Theme */
    --primary-color-books: #9810fa;
    /* violet-500 */
    --dot-color-books: #9810fab3;

    /* Games – Orange Theme */
    --primary-color-games: #f54900;
    /* orange-600 */
    --dot-color-games: #f54900b3;

    /* Movies – Example */
    --primary-color-movies: #009966;
    /* lime-500 */
    --dot-color-movies: #009966b3;
}

html {
    height: 100%;
    min-height: 100dvh;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1c1b22;
    color: #fbfbfe;
    font-family: var(--font-inter, Arial, sans-serif);
}

.josefin {
    font-family: var(--font-josefin, Arial, sans-serif);
}

.lora {
    font-family: var(--font-lora, Arial, sans-serif);
}

.poppins {
    font-family: var(--font-poppins, Arial, sans-serif);
}

.cinzel {
    font-family: var(--font-cinzel, Arial, sans-serif);
    font-weight: 400;
    font-style: normal;
}

/* ✅ Reset global + compat Tailwind 4 */
@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
        box-sizing: border-box;
    }

    html,
    body {
        max-width: 100vw;
        overflow-x: hidden;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

/* === BASE DOT === */
.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dot-color);
    animation: dot-flash 1s infinite linear alternate;
    animation-delay: 0.5s;
}

/* === LEFT + RIGHT DOTS === */
.dot-flashing::before,
.dot-flashing::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--dot-color);
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    animation: dot-flash 1s infinite linear alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    animation: dot-flash 1s infinite linear alternate;
    animation-delay: 1s;
}

/* === THEME COLORS === */
.dot-flashing-books,
.dot-flashing-books::before,
.dot-flashing-books::after {
    --dot-color: var(--dot-color-books, rgba(152, 16, 250, 0.7));
}

.dot-flashing-games,
.dot-flashing-games::before,
.dot-flashing-games::after {
    --dot-color: var(--dot-color-games, rgba(245, 73, 0, 0.7));
}

.dot-flashing-movies,
.dot-flashing-movies::before,
.dot-flashing-movies::after {
    --dot-color: var(--dot-color-movies, rgba(0, 153, 102, 0.7));
}

/* === FLASH EFFECT === */
@keyframes dot-flash {
    0% {
        background-color: var(--dot-color);
    }

    50%,
    100% {
        background-color: white;
    }
}